#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 4em;
}

.read-the-docs {
  color: #888;
}

h1 {
  margin: 30px;
}

.album-card {
  transition: transform 0.3s ease;
  box-shadow: 0.3s ease;
  border: 3px solid transparent;
  background: linear-gradient(#1c1c1c, #1c1c1c) padding-box,
              linear-gradient(270deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8f00ff) border-box;
  background-size: 600% 600%;
  animation: borderGlowCycle 13s ease-in-out infinite;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.album-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

@keyframes borderGlowCycle {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}