#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 4em;
}

.read-the-docs {
  color: #888;
}

h1 {
  margin: 30px;
}

.album-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.album-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
