.sidebar-toggle {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    cursor: pointer;
    z-index: 1000;
    margin: 8px;
    padding: 1em 1em; /* button size height & width */
  }


.sidebar-toggle:focus,
.sidebar-toggle:focus-visible {
  outline: none;  /* getting rid of button outline for sidebar*/
}

.sidebar-toggle:hover {
  border-color: #1a1a1a;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 310px;   /* width of the sidebar */
  background: #1a1a1a;
}
